.git
.DS_Store
.venv
__pycache__
*.pyc

webapp/node_modules
webapp/.next

data/raw
data/processed/*
!data/processed/webapp_models
!data/processed/webapp_models/
!data/processed/webapp_models/point_tcn_5a.pt
!data/processed/webapp_models/quantile_tcn_5a.pt

results
